## **İş Uygulaması: Anasayfa İçerik Stratejisi Belirlemek**
#### problem: Anasayfa da geçirilen süre artırılmak isteniyor
#### Detaylar: Bir web sitesi için başarı kriterleri: ortalama ziyaret süresi, hemen çıkış oranı vb. Uzun zaman geçiren kullanıcıların reklamlara daha fazla tıkladığı ve markaya olan bağlılıklarının arttığı biliniyor. Buna yönelik olarak benzer haberler farklı resimler ya da farklı formatlarda hazırlanarak oluşturulan test gruplarına gösteriliyor. A: doğal şekilde, B: yönlendirici, C: ilgi çekici

### **Varyans Analizi**
H0: M1 = M2 = M3 (grup ortalamalari arasinda ist anl. farklilik yoktur)

H1: Fark vardir.

In [1]:
import pandas as pd

In [2]:
A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,34,28,32,31,28,33,29])

B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,29,26,37,31,28,34,33])

C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,40,39,38,38,43,40,42])

dfs = [A,B,C]

ABC = pd.concat(dfs, axis=1)
ABC.columns = ["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      30      41
4      28      33      42

#### **Varsayım Kontrolü**

In [17]:
from scipy.stats import shapiro
import scipy.stats as stats

In [18]:
shapiro(ABC["GRUP_A"])

ShapiroResult(statistic=0.969743013381958, pvalue=0.5321670174598694)

In [19]:
shapiro(ABC["GRUP_B"])

ShapiroResult(statistic=0.9789853096008301, pvalue=0.7979751229286194)

In [20]:
shapiro(ABC["GRUP_C"])

ShapiroResult(statistic=0.9579201340675354, pvalue=0.273820161819458)

In [21]:
stats.levene(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

LeveneResult(statistic=1.0267403645055275, pvalue=0.36247110117417064)

#### **Hipotez Testi**

In [22]:
from scipy.stats import f_oneway

In [26]:
f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

F_onewayResult(statistic=74.69278140730431, pvalue=1.3079050746811477e-19)

In [27]:
print('{:.5f}'.format(f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])[1]))

0.00000

In [28]:
ABC.describe().T

        count       mean       std   min    25%   50%    75%   max
GRUP_A   30.0  30.133333  2.224214  25.0  28.25  30.0  31.75  34.0
GRUP_B   30.0  31.700000  2.937862  26.0  30.00  31.0  34.00  38.0
GRUP_C   30.0  38.100000  2.808239  33.0  36.00  38.0  40.00  43.0

#### **Nonparametrik Hipotez Testi**

In [29]:
from scipy.stats import kruskal

In [30]:
kruskal(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

KruskalResult(statistic=54.19819735523783, pvalue=1.7022015426175926e-12)

### **Korelasyon Analizi**
#### Değişkenler arasındaki ilişki, bu ilişkinin yönü ve şiddeti ile ilgili bilgiler sağlayan istatistiksel bir yöntemdir korelasyon.
#### Korelasyon Anlamlılığının Testi
H0: p=0

H1: P!=0
#### Varsayımlar: iki değişken içinde normallik varsayımı. Varsayım sağlanıyorsa Pearson Korelasyon Katsayısı. Varsayım sağlanmıyorsa Spearman Korelasyon Katsayısı